//logo
.header__logo {
  background-color: #7f7afc;
  flex: 0 0 15%;
  align-self: stretch;
  height: 150%;
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 0.6rem;
  }
  &__name {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }
}

//nav
.nav {
  margin-left: auto;
  align-self: stretch;
  display: flex;
  margin-right: 9rem;
  height: 100%;
  &__link:visited,
  &__link:link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    line-height: 0px;
    cursor: pointer;
    color: #46454c;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    list-style: none;
    cursor: pointer;
  }
  &__item:hover {
    background-color: #f6f6f6;
  }
}

//header__number
.header__number {
  padding: 0 2rem;
  background-color: #7f7afc;
  height: 100%;
  display: flex;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;

  font-size: 1.3rem;

  justify-content: center;
  align-items: center;
}
.intro {
  flex: 0 0 40%;
  background-color: #444358;
  display: flex;
  padding: 15rem 3rem;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  padding-left: 4rem;
  position: relative;
  &__text {
    font-size: 4rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
  }
  &__video {
    width: 13rem;
    height: 4rem;
    display: flex;
    color: #000;
  }
  &__video__text {
    flex: 0 0 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-size: 0.9rem;
    color: #46454c;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__video__icon-con {
    flex: 0 0 30%;
    background-color: #7f7bfa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__video__icon {
    height: 3rem;
    width: 3rem;
    fill: white;
  }

  &__picture {
    height: 10rem;
    width: 10rem;
    position: absolute;
    background-image: url(../pure-life-mini.jpg);
    background-position: center;
    background-size: cover;
    bottom: 0;
    right: 0;
  }
  .toggle--welcome {
    position: absolute;
    bottom: 3rem;
  }
  .toggle--active {
    background-color: #6c67cc;
  }
}

.picture-con {
  flex: 0 0 60%;
  background-color: honeydew;
  color: white;
  position: relative;
  &__picture {
    background-image: url(../pure-life-main-pic.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  &__quote {
    height: 10rem;
    width: 10rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #7f7bfa;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 3px;
  }
}

//dexcription

.description__content {
  flex: 0 0 33.3%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  &:first-child {
    background-color: #a09bfc;
  }
  &:nth-child(2) {
    background-color: #fab9b6;
  }
  &:last-child {
    background-color: #b3c0c5;
  }
  &__header {
    color: white;
    font-size: 2rem;
    padding-left: 10rem;
    padding-bottom: 0.7rem;
    font-weight: 500;
  }
  &__para {
    color: white;
    font-size: 1rem;
    padding-left: 10rem;
    padding-right: 5rem;
    letter-spacing: 1px;
    line-height: 1.5;
  }

  &__svg {
    height: 10rem;
    width: 10rem;
    background-color: #4b4b4b71;
    position: absolute;
    left: -3rem;
    -webkit-mask-image: url(../building.svg);
  }
  &__svg--build-2 {
    -webkit-mask-image: url(../building1.svg);
  }
  &__svg--build-3 {
    -webkit-mask-image: url(../building2.svg);
  }
}
//testimonial
.testimonial-con {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 3rem;
  margin-left: 13rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.2rem 2rem 3rem rgba(0, 0, 0, 0.363);

  &__line {
    height: 3px;
    background-color: #6c67cc;
    width: 100%;
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 0;
  }
  &__review-line {
    display: inline-block;
    width: 1.5rem;
    height: 3px;
    margin-right: 0.5rem;
    background-color: #6c67cc;
  }
  &__para {
    color: #3b3b3bbd;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 1rem;
  }
  &__reviewer {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.712);
  }

  &::before {
    content: "\201C";
    font-size: 10rem;
    position: absolute;
    top: -2.4rem;
    left: 1rem;
    color: #6c67cc;
  }
}
.toggle--testimonial {
  flex-direction: column;
  .toggle__item--testimonial {
    margin-top: 10px;
    width: 0.4rem;
    height: 2.4rem;
  }
  position: absolute;
  right: 0;
  top: 40%;
}
.toggle {
  display: flex;

  & > * {
    display: block;
    margin-right: 1rem;
    width: 2.4rem;
    cursor: pointer;
    height: 0.4rem;
    background-color: #656479;
  }
}
.form__picture {
  flex: 0 0 50%;
  &__photo {
    height: 100%;
    width: 100%;
  }
}
.form__content {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
  margin-bottom: 2rem;
  color: #444358;
  font-size: 3rem;
  margin-left: 1rem;
}
.form__content-area {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;

  .row {
    display: flex;
  }
  &__input {
    margin-bottom: 1rem;
    margin-left: 1rem;
    outline: none;
    padding: 0.8rem;
    border: none;
    width: 15rem;
    font-size: inherit;
    border: #adadad 1px solid;
    &::-webkit-input-placeholder {
      color: grey;
      letter-spacing: 1px;
      font-size: 1.1rem;
    }
  }
  &__text {
    margin-left: 1rem;
    outline: none;
    border: #adadad 1px solid;
    padding: 1rem;

    resize: none;
    font-size: inherit;
    &::-webkit-input-placeholder {
      font-size: 1.3rem;
      color: grey;
    }
  }
  &__btn {
    margin-left: 1rem;
    margin-top: 1rem;

    padding: 1rem;
    color: white;
    background-color: #6f67ff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
  }
}
//footer
.footer__heading {
  padding: 2rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    font-size: 2.2rem;
    color: #ffffff;
  }
  &__text {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #7f7afc;
    text-transform: uppercase;
  }
  &__icon {
    margin-left: 1rem;
    height: 2.4rem;
    width: 2.4rem;
    background-color: #7f7afc;
    border-radius: 50%;
  }
}
.footer__main-content {
  & {
    h1 {
      text-transform: capitalize;
      color: white;
      font-size: 1.7rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
  }
  &__item {
    list-style: none;
    margin-bottom: 0.5rem;
  }
  &__link {
    text-decoration: none;
    color: lightgray;
    font-size: 1rem;
  }
  .P {
    color: lightgreen;
    display: inline;
  }
  .E {
    color: lightgreen;
    display: inline;
  }
}
.footer__end {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  align-items: center;
  color: lightgrey;
  font-size: 1.1rem;
  &__copy {
  }
  &__terms {
    margin-left: auto;
  }
  &__privacy {
    margin-left: 5rem;
  }
  &__up {
    height: 3rem;
    width: 3rem;
    background-color: lightpink;
    border-radius: 50%;
    margin-left: 15%;
  }
}
