//logo
.header__logo {
  background-color: #7f7afc;
  flex: 0 0 15%;
  align-self: stretch;
  height: 150%;
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 8rem;
    width: 8rem;
  }
}

//nav
.nav {
  margin-left: auto;
  align-self: stretch;
  display: flex;
  margin-right: 9rem;
  height: 100%;
  &__link:visited,
  &__link:link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    line-height: 0px;
    cursor: pointer;
    color: #46454c;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    list-style: none;
    cursor: pointer;
  }
  &__item:hover {
    background-color: #f6f6f6;
  }
}

//header__number
.header__number {
  padding: 0 5rem;
  background-color: #7f7afc;
  height: 100%;
  display: flex;
  font-weight: 500;

  font-size: 1.3rem;

  justify-content: center;
  align-items: center;
}
.intro {
  flex: 0 0 40%;
  background-color: #444358;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  padding-left: 4rem;
  position: relative;
  &__text {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  &__video {
    width: 13rem;
    height: 4rem;
    display: flex;
    color: #000;
  }
  &__video__text {
    flex: 0 0 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-size: 0.9rem;
    color: #46454c;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__video__icon-con {
    flex: 0 0 30%;
    background-color: #7f7bfa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__video__icon {
    height: 3rem;
    width: 3rem;
    fill: white;
  }

  &__picture {
    height: 13rem;
    width: 13rem;
    position: absolute;
    background-image: url(../pure-life-mini.jpg);
    background-position: center;
    background-size: cover;
    bottom: 0;
    right: 0;
  }
  .toggle--welcome {
    position: absolute;
    bottom: 3rem;
  }
  .toggle--active {
    background-color: #6c67cc;
  }
}

.picture-con {
  flex: 0 0 60%;
  background-color: honeydew;
  color: white;
  position: relative;
  &__picture {
    height: 100%;
    width: 100%;
  }
  &__quote {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 13rem;
    width: 13rem;
    background-color: #7f7bfa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 3px;
  }
}

//dexcription

.description__content {
  flex: 0 0 33.333%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  &:first-child {
    background-color: #a09bfc;
  }
  &:nth-child(2) {
    background-color: #fab9b6;
  }
  &:last-child {
    background-color: #b3c0c5;
  }
  &__header {
    color: white;
    font-size: 2rem;
    padding-left: 10rem;
    padding-bottom: 0.7rem;
    font-weight: 400;
  }
  &__para {
    color: white;
    font-size: 1.1rem;
    padding-left: 10rem;
    padding-right: 5rem;
    letter-spacing: 2px;
    line-height: 1.5;
  }

  &__svg {
    height: 10rem;
    width: 10rem;
    background-color: #4b4b4b71;
    position: absolute;
    left: -3rem;
    -webkit-mask-image: url(../building.svg);
  }
  &__svg--build-2 {
    -webkit-mask-image: url(../building1.svg);
  }
  &__svg--build-3 {
    -webkit-mask-image: url(../building2.svg);
  }
}
//testimonial
.testimonial-con {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 3rem;
  margin-left: 13rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.2rem 2rem 3rem rgba(0, 0, 0, 0.363);

  &__line {
    height: 3px;
    background-color: #6c67cc;
    width: 100%;
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 0;
  }
  &__review-line {
    display: inline-block;
    width: 1.5rem;
    height: 3px;
    margin-right: 0.5rem;
    background-color: #6c67cc;
  }
  &__para {
    color: #3b3b3bbd;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 1rem;
  }
  &__reviewer {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.712);
  }

  &::before {
    content: "\201C";
    font-size: 10rem;
    position: absolute;
    top: -2.4rem;
    left: 1rem;
    color: #6c67cc;
  }
}
.toggle--testimonial {
  flex-direction: column;
  .toggle__item--testimonial {
    margin-top: 10px;
    width: 0.4rem;
    height: 2.4rem;
  }
  position: absolute;
  right: 0;
  top: 40%;
}
.toggle {
  display: flex;

  & > * {
    display: block;
    margin-right: 1rem;
    width: 2.4rem;
    cursor: pointer;
    height: 0.4rem;
    background-color: #656479;
  }
}
.form__picture {
  flex: 0 0 50%;
  &__photo {
    height: 100%;
    width: 100%;
  }
}
.form__content {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 5rem;
}
h2 {
  margin-bottom: 2rem;
  color: #444358;
  font-size: 3rem;
}
.form__content-area {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
  }
  &__input {
    margin: 5px;
  }
  &__text {
  }
  &__btn {
    margin-top: 5px;
    padding: 1rem;
    color: white;
    background-color: #6c67cc;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
