.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  font-size: 1.4rem;
  color: white;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: white;
}
.welcome {
  min-height: 80vh;
  display: flex;
  background-color: rgb(116, 116, 116);
}
.description {
  height: 17rem;
  display: flex;
}
.skills {
  height: 70vh;
  background-color: grey;
}
.testimonial {
  height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.603),
      rgba(0, 0, 0, 0.719)
    ),
    url(https://images.pexels.com/photos/2631746/pexels-photo-2631746.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}
.form {
  height: 70vh;
  background-color: indianred;
  display: flex;
}
.footer {
  height: 60vh;
  background-color: blanchedalmond;
}
